@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500&family=Kanit:wght@600;800&family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    line-height: 1.5;
}
section{
    padding: 130px 0;

}

.first-section{
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    overflow: hidden;
}

.container-text{
    width: 800px;
    overflow: hidden;
}

.container-text .text{
    color: white;
    font-size: 25px;
    position: relative;
}

.container-text .text.last-part::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    border-left: 2px solid white;
    animation: typing-animation 4s steps(12) infinite;
}

.link{
    margin-right: 10px
}
@keyframes typing-animation {
    40%, 60%{
        left: calc(100% + 4px);
    }
    100%{
        left: 0%;
    }
}

.social-links-container{
    margin-bottom: 1rem!important;
}


.pp-year-lable{
    display: inline-block;
    background: black;
    color: white;
    padding: 12px 50px;
    font-size: 25px;
    border-radius: 30px;
}

.pp-sub-heading{
    font-size: 22px;
    font-weight: 500;
}

.pp-position-lable{
    font-size: 22px;
    font-weight: 500;
}

.mb-100{
    margin-bottom: 100px;
}

.pp-heading{
    color: white;
}

.pp-social-icon{
    font-size: 30px;
    color: white;
}


.text-align-right{
    text-align: right;
}

.pp-position{
    padding: 2px 12px;
    background: black;
    color: white;
    border-radius: 5px;
}

.pp-dark-background{
    background-color: black;
    color: white;
}
.pp-light-background{
    background-color: white;
    color: black;
}

.pp-experience-box{
    display: inline-block;
    text-align: center;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    padding: 50px;
    border-radius: 30px;
    margin-bottom: 30px;
}

.pp-link-icon{
    color: black;
    font-size: 20px;
    margin-left: 5px;
}
/* @media (prefers-reduced-motion: no-preference){
    .pp-bb-co-op{
        scale: .8; opacity: 0;
        animation: fade-in linear forwards;
        animation-timeline: view();
        animation-range: entry 100px;
    }
    @keyframes fade-in {
        to{scale: 1;opacity: 1;}
    }
} */

.img-same {
    height: 450px;
    width: 100%;
    object-fit: cover;
}

.list-group-item.active{
    background-color: black;
    border: black;
}
@media only screen and (max-width: 768px) {
    .pp-center{
        text-align: center!important;
        margin-bottom: 15px;
    }

    .text-align-right{
        text-align: left;
    }
}

